
 
 
 #commercial{
    
    width:80%;
    display: grid;
    margin-left:50px;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(4,400px); */
    gap:20px 20px;
    
   
    line-height: 10px;

}
#commercial>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:1px gray;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    height: 100%;

}
#commercial>div>img{
    width:170px;
    height: 50%;
}

#btn-load{ cursor: pointer;
        margin-left: 860px;
        /* margin-top: 300px; */
        display: block;
        font-size: 20px;
         }
button:hover{
            color:blue;
            border: 2px solid black;
            
         }
          
#footer{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding-top: 30px;
width:90%;
height:230px;
margin: auto;

display:flex;

}
#footer>div{

height:200px;
width:25%;
text-align: center;
cursor: pointer;
background-color: silver;
}
#footer>div>p{
    color: black;
    line-height: 10px;
    
    }
    #sidebar{
            
            border:1px solid black;
            height:300px;
            width:20%;
            text-align:center;
            display: flex;
            cursor: pointer;
            margin-left:30px;
            background-color: steelblue;
            color: white;
            
            
            }
         
            #block-2{
            display: flex;
            
         }
         #btnback{
            margin-top:20px;


         }

         #btnback{
            display: none;
           position: fixed;
           top: 20px;
           right: 30%;
           z-index: 99; 
           border: none;
           outline: none;
           background-color: #fff;
           cursor: pointer;
           padding: 15px 20px;
           border-radius: 4px;
           font-size: 18px; 
           font-weight: 700;
           border-radius: 50px;
        }
       